body{
    margin: 0;
}

.title{
    color: gray;
    font-size: 30px;
    text-align: center;
    padding-top: 200px;
}

.err_cause{ 
    text-align: center;
    color: gray;
    font-size: 20px;
}

.title_en{
    color: gray;
    text-align: center;
    font-size: 19px;
}

.bottomCC{
    color: gray;
    text-align: center;
    font-size: 12px;
}