body{
    background-color: lightblue;
}

h1{
    color: gray;
    text-align: center;    
}

h2{
    color: gray;
    text-align: center;
}

footer{
    color: gray;
    text-align: center;
}

ul{
    color: gray;
    
}