body{
    
    margin: 0;
}

h1{
    color: gray;
    text-align: center;
    
}

h2{
    color: gray;
    text-align: center;
}

footer{
    color: gray;
    text-align: center;
}

div{
    color: gray;
    text-align: center;
    font-size: 21px;
}

a {
    text-decoration: none;
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: skyblue;
    padding: 8px 12px
}

.navbar__menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar__menu li {
    padding: 8px 12px;
    
    
}

.navbar__menu li:hover{
    background-color: aqua;
}

.under_bar {
    display: flex;
    background-color: skyblue;
    position: fixed;
    bottom: 0;
    max-height: 200px;
    width: 100%;
    padding: 30px 0;
    text-align: center;
}


