body{
    
    margin: 0;
}

h1{
    color: gray;
    text-align: center;
    
}

div{
    color: gray;
    text-align: center;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: skyblue;
    padding: 8px 12px
}

.navbar__menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar__menu li:hover{
    background-color: aqua;
}



@media screen and (max-with: 768px){
    .navbar{
        flex-direction: column;
        flex-direction: flex-start;
        
    }
    .navbar__menu{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

}