

.Please_wait_text{
    text-align: center;
    color: gray;
}

.gif{
    text-align: center;
    padding-top: 20px;
}

.check_input{
    text-align: center;
    padding-top: 10px;
}

@media screen and (max-width: 768px){
    
}